<div class="page">
  <p class="display-4 text-center mt-5">Página de Cadastro</p>

<form [formGroup]="formPessoa" (ngSubmit)="onSubmit()">

  <div class="d-flex flex-column">

    <div class="border border-2 rounded p-3 mt-2 mb-3">
      <h1 class="text-center">Informações Pessoais</h1>

      <app-text-form [parentForm]="formPessoa" [label]="'Nome Completo'" [formName]="'name'"></app-text-form>

      <app-date-form [parentForm]="formPessoa" [label]="'Data de Nascimento'" [formName]="'birth'"></app-date-form>

      <app-select-form [parentForm]="formPessoa" [label]="'Gênero'" [formName]="'gender'" [optionArray]="opt_gender"></app-select-form>

      <app-select-form [parentForm]="formPessoa" [label]="'Estado Civil'" [formName]="'civil_state'" [optionArray]="opt_civil_state"></app-select-form>

      <app-text-form [parentForm]="formPessoa" [label]="'Nacionalidade'" [formName]="'nacionality'"></app-text-form>

    </div>

    <div class="border border-2 rounded p-3 mt-2 mb-3">
      <h1 class="text-center">Contato</h1>

      <app-text-form [parentForm]="formPessoa" [label]="'Endereço Residencial'" [formName]="'address'"></app-text-form>

      <app-text-form [parentForm]="formPessoa" [label]="'Número de Telefone'" [formName]="'telephone'" [placeholder]="'(__) _ ____-____'" [inputMask]="telephoneMask"></app-text-form>
      
      <app-text-form [parentForm]="formPessoa" [label]="'Endereço de E-mail'" [formName]="'email'" [placeholder]="'_@_._'" [inputMask]="emailMask"></app-text-form>

    </div>
  </div>
    


  <div class="border border-2 rounded p-3 mt-2 mb-3">
    <h1 class="text-center">Documentação</h1>

    <app-text-form [parentForm]="formPessoa" [label]="'Número de Identidade'" [formName]="'rg'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Cadastro de Pessoa Física'" [formName]="'cpf'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Número de Passaporte'" [formName]="'passport'" [placeholder]="'(Opcional)'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Carteira de Motorista (CNH)'" [formName]="'cnh'" [placeholder]="'(Opcional)'"></app-text-form>

  </div>

  <div class="border border-2 rounded p-3 mt-2 mb-3">
    <h1 class="text-center">Informações de Residência</h1>

    <app-text-form [parentForm]="formPessoa" [label]="'CEP'" [formName]="'cep'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Logradouro'" [formName]="'public_place'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Bairro'" [formName]="'neighbourhood'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Cidade'" [formName]="'city'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Estado'" [formName]="'state'"></app-text-form>

  </div>

  <div class="border border-2 rounded p-3 mt-2 mb-3">
    <h1 class="text-center">Emprego e Educação</h1>

    <app-text-form [parentForm]="formPessoa" [label]="'Renda'" [formName]="'income'"></app-text-form>

    <app-select-form [parentForm]="formPessoa" [label]="'Histórico de Crédito'" [formName]="'credit'" [optionArray]="opt_credit"></app-select-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Conta Bancária'" [formName]="'account'"></app-text-form>

  </div>

  <div class="border border-2 rounded p-3 mt-2 mb-3">
    <h1 class="text-center">Emergência</h1>

    <app-text-form [parentForm]="formPessoa" [label]="'Contato de Emergência'" [formName]="'emergency'"></app-text-form>

    <app-text-form [parentForm]="formPessoa" [label]="'Informações Médicas Relevantes'" [formName]="'medical'"></app-text-form>

  </div>
  <div class="text-center mb-3">
    <input type="submit" class="btn btn-success btn-lg" value="Salvar Dados" />
  </div>
  
</form>

</div>
